@import '~@angular/material/prebuilt-themes/indigo-pink.css';


.home-main {
  padding: 1rem;
  width: 100%-1rem;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
}

.search {
  margin: auto;
  width: 40rem;
  height: 20rem;
  background-color: blanchedalmond;
  border-radius: 1rem;
  box-shadow: 5px 5px 0.8em;
}

.search-head {
  display: block;
  margin: auto;
  text-align: center;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
}
.search_input {
  display: flex;
  margin: auto;
}

.form1 {
  display: block;
  margin: 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.target {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.date{
    display: flex;
    align-items: center;
    justify-content: center;
}