<div class="home-main">
  <div class="search">
    <div class="search-head">Search for a flight</div>
    <div class="search_input">
      <form class="target">
        <div class="form1 departure">
          <label for="departure">Departure</label><br />
          <select type="text" id="departure" name="departure">
            <option *ngFor="let travel of Travels | unique:'departure'" value="{{travel.id}}}">{{travel.departure}}</option>
          </select>
        </div>
        <div class="form1 arrive">
          <label for="arrive">Arrive</label><br />
          <select type="text" id="arrive" name="arrive">
            <option *ngFor="let travel of Travels | unique:'arrival'" value="{{travel.id}}}">{{travel.arrival}}</option>
          </select>
        </div>
      </form>
    </div>
    <div class="date">
      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>
