<div class="header">
    <div class="logo">
    <img class="logoimg" routerLink="/" src="../../assets/images/plane.svg" alt="">
    </div>
    <div class="time">
<div class="hour">{{today | date:'short'}}</div>
    </div>
    <div class="weather">
        <div class="temp">
            <p>{{weathers?.name}}</p>
            <p>{{weathers?.main.temp | tempConverter:'C'}} &deg;C</p>
            <p>{{weathers?.weather[0].description}}</p>
        </div>

    </div>
    <div class="btn-header">
        <button class="btn1">Klikaj mnie!!!</button>
    </div>

</div>
